@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif !important;
}
.modal form{
    padding-top: 20px;
}
.modal form .modal-footer{
    margin-top: 20px;
}
.modal form input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 0.5px solid rgb(194, 194, 194);
    padding: 8px 15px;
    outline: none;
}
.btn-close:focus{
    box-shadow: none !important;
}
.modal form .btn_success{
    background: #07074c;
    color: white;
    border: 1px solid #07074c;
    font-size: 14px;
    padding: 10px 15px
}
.modal form .btn_close{
    background: #07074c8e;
    border: 1px solid #07074c61;
    color: white;
    font-size: 14px;
    padding: 10px 15px
}
.modal form .btn_success:hover,
.modal form .btn_close:hover{
    border-color: unset;
}
.social_parent_form #social_media_ul{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}
.social_parent_form #social_media_ul li{
    list-style: none;
    margin-right: 8px;
    margin-top: 8px;
}
.social_parent_form #social_media_ul .social_media_icon{
    font-size: 20px;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #0d6efd;
    color: #0d6efd;
}
.social_parent_form #social_media_ul .social_media_icon.active{
    background: #0d6efd;
    color: white;
}







.login_section{
    padding: 70px 0px;
}
.login_section .head,
.register_section .head{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}
.login_section .description,
.register_section .description{
    margin-bottom: 0px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.login_section form, .register_section form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_section form .input_div,
.register_section form .input_div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}
.login_section form .input_div input,
.register_section form .input_div input{
    width: 90%;
    height: 50px;
    padding: 15px;
    outline: none;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
}
.login_section form .input_div label,
.register_section form .input_div label{
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    padding: 0px 10px;
    background: white;
    left: 30px;
    left: 46px;
    top: -8px;
}
.login_section form .submit_btn,
.register_section form .submit_btn{
    background: #07074c;
    color: white;
    border: none;
    outline: none;
    padding: 12px 55px;
}
.login_section form .image{
    width: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}

.login_section form .signup_txt,
.register_section form .signup_txt{
    margin-top: 30px;
    margin-bottom: 30px;
}
.login_section form .signup_txt a,
.register_section form .signup_txt a{
    text-decoration: none;
}





.register_section{
    padding: 50px 0px;
}



.card_section{
    padding: 40px 0px;
}
.card_section .slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 83vh;
}
.card_section .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 0.3s;
}
.card_section .slider .slide:not(.active){
    transform: translateX(100%);
}

.card_section .slider .slide .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 45px auto 14px;
    width: 90%;
}
.card_section .slider .slide .pagination .next{
    width: fit-content;
    background: #07074c;
    padding: 6px 25px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0px;
    margin: unset;
}
.card_section .slider .slide .pagination .prev{
    width: fit-content;
    background: #07074c;
    padding: 6px 25px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 93px;
    margin: unset;
}
.card_section .slider .slide .pagination button{
    position: absolute;
    right: 0px;
    padding: 6px 25px;
    border: none;
    outline: none;
    color: white;
    background: #07074c;
}


.card_section .slider .slide .next{
    width: fit-content;
    background: #07074c;
    padding: 6px 25px;
    color: white;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 30px;
    cursor: pointer;
}

/* width */
.card_section .slider .slide::-webkit-scrollbar {
    width: 4px;
}
  
  /* Track */
.card_section .slider .slide::-webkit-scrollbar-track {
    background: #e4e4e4;
}
  
  /* Handle */
.card_section .slider .slide::-webkit-scrollbar-thumb {
    background: #07074c9a;
}
  
  /* Handle on hover */
.card_section .slider .slide::-webkit-scrollbar-thumb:hover {
    background: #05053abb;
}



.card_section .head{
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 35px;
    text-align: center;
}
.card_section .personal_head, .card_section .contact_head, .card_section .social_head, .card_section .details_head{
    font-size: 18px;
    width: 90%;
    margin: 25px auto 25px;
    padding-left: 42px;
    position: relative;
}
.card_section .personal_head::before, .card_section .contact_head::before, .card_section .social_head::before, .card_section .details_head::before{
    background: #07074c;
    color: white;
    position: absolute;
    border-radius: 50%;
    top: -3px;
    left: 4px;
    font-size: 14px;
}
.card_section .personal_head::before{
    padding: 5px 11px;
    content: '1';
}
.card_section .contact_head::before{
    content: '2';
    padding: 5px 10px;
}
.card_section .social_head::before{
    content: '3';
    padding: 5px 10px;
}
.card_section .details_head::before{
    content: '4';
    padding: 5px 10px;
}

.card_section .social_media .input_div label{
    left: 85px;
}
.card_section .social_media .input_div input{
    padding-left: 65px;
}
.card_section .input_div .pre_icon{
    position: absolute;
    left: 5%;
    padding: 0px 14px;
    font-size: 20px;
    top: 11px;
    border-right: 0.5px solid #b4b4b4;
}
.card_section .input_div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.card_section .input_div input,
.card_section .input_div textarea{
    width: 90%;
    height: 50px;
    padding: 15px;
    outline: none;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
    font-size: 15px;
}
.card_section .input_div textarea{
    height: 120px;
}
.card_section .input_div label{
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    padding: 0px 10px;
    background: white;
    left: 30px;
    left: 46px;
    top: -8px;
}
.card_section #all_emails,
.card_section #all_numbers{
    width: 100%;
}
.card_section #all_emails .input_div select,
.card_section #all_numbers .input_div select{
    width: 22%;
    height: 50px;
    padding: 0px 15px;
    font-size: 12px;
    outline: none;
    border: 1px solid #c6c6c6;
}
.card_section #all_emails .input_div input,
.card_section #all_numbers .input_div input{
    width: 68%;
    border-left: none;
    font-size: 14px;
    border-radius: unset;
}
.card_section #all_emails .input_div label,
.card_section #all_numbers .input_div label{
    left: 157px;
}
.card_section #all_emails .input_div .trash,
.card_section #all_numbers .input_div .trash{
    position: absolute;
    cursor: pointer;
    right: 40px;
    font-size: 20px;
}
.card_section #all_emails .input_div .edit,
.card_section #all_numbers .input_div .edit{
    position: absolute;
    cursor: pointer;
    right: 68px;
    font-size: 20px;
}
.card_section #all_emails .input_div .update,
.card_section #all_numbers .input_div .update{
    position: absolute;
    cursor: pointer;
    right: 40px;
    font-size: 20px;
}
.card_section .add_btn{
    border: none;
    outline: none;
    background: #07074c;
    color: white;
    margin-left: 5%;
    width: fit-content;
    cursor: pointer;
    padding: 6px 15px;
    font-size: 10px;
    margin-bottom: 20px;
}
.card_section .add_btn span{
    font-size: 15px;
    margin-right: 3px;
}
.card_section .add_btn#number_add_btn{
    margin-bottom: 28px;
}




.card_section #add_email_div .input_div select,
.card_section #add_number_div .input_div select{
    width: 22%;
    height: 50px;
    padding: 0px 15px;
    font-size: 12px;
    outline: none;
    border: 1px solid #c6c6c6;
}
.card_section #add_email_div .input_div input,
.card_section #add_number_div .input_div input{
    width: 68%;
    border-left: none;
    font-size: 14px;
    border-radius: unset;
}
.card_section #add_email_div .input_div label,
.card_section #add_number_div .input_div label{
    left: 157px;
}
.card_section #add_email_div .input_div .trash,
.card_section #add_number_div .input_div .trash{
    position: absolute;
    cursor: pointer;
    right: 40px;
    font-size: 20px;
}
.card_section #add_email_div .input_div .update, 
.card_section #add_number_div .input_div .update{
    position: absolute;
    cursor: pointer;
    right: 66px;
    font-size: 20px;
}


.input_div .edit__btn{
    position: absolute;
    right: 8%;
    font-size: 18px;
    cursor: pointer;
}
.input_div .trash__btn{
    position: absolute;
    right: 15%;
    font-size: 18px;
    cursor: pointer;
}










.profile_section{
    padding: 30px 0px;
}
.profile_section .download_btn{
    padding: 10px 15px;
    background: #07074c;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    margin-top: 25px;
    border-radius: 4px;
}
.profile_section .card{
    padding: 15px;
}


 


.footer_box{
    width: 100%;
    padding: 6px 0px;
    background-color: #07074c;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #07074c;
}
.footer_box .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer_box .box > i{
    font-size: 23px;
    color: white;
    padding: 14px;
    transition: 0.2s;
}
.footer_box .box > i:not(.active){
    cursor: pointer;
}
.footer_box .box > i.active{
    border-radius: 50%;
    margin-top: -41px;
    border: 6px solid white;
    background: #07074c;
    color: white;
    font-size: 23px;
}
.footer_box .box > .user.active{
    padding: 12px 14px;
}