*{
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
body{
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 100vh; */
}
.signup_form{
  width: 500px;
  padding: 50px 53px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup_form .form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup_form h2{
  font-family: math;
  text-transform: uppercase;
  font-size: 27px;
}
.signup_form  h4{
  font-family: math;
  font-size: 17px;
  margin-bottom: 28px;
}
.signup_form h4 a{
  text-decoration: none;
}
.signup_form .input_div{
  position: relative;
  margin-bottom: 5px;
  width: 100%;
}
.signup_form .form-container label{
  width: 100%;
  display: block;
  font-size: 14px;
  top: 17px;
  left: 18px;
  color: gray;
  position: absolute;
  transition: 0.5s;
  z-index: -1;
}
.signup_form .form-container label.active{
  top: -9px;
  z-index: 1;
  width: fit-content;
  background: white;
  padding: 0px 12px;
}
.signup_form .form-container input{
  width: 100%;
  z-index: 0;
  background-color: transparent;
  height: 55px;
  padding-left: 18px;
  border: none;
  margin-bottom: 20px;
  border: 1px solid rgb(226, 226, 226);
  outline: none;
}
.signup_form .form-container button{
  border: none;
  outline: none;
  padding: 12px 50px;
  color: white;
  background: #6ea358;
  float: right;
  width: 80%;
  border-radius: 25px;
}




.google_btn{
  width: 100%;
  margin-top: 50px;
  border: 1px solid rgb(205, 205, 205);
  background: white;
  outline: none;
  padding: 13px 35px;
  border-radius: 25px;
  position: relative;
}
.google_btn span{
  padding-left: 50px;
}
.google_btn::after{
  content: '';
  background: url(../img/google-icon.jpg);
  width: 25px;
  height: 25px;
  left: 114px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}




.login_form{
  width: 500px;
  padding: 50px 53px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_form .form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_form .input_div{
  position: relative;
  margin-bottom: 5px;
  width: 100%;
}
.login_form .form-container label{
  width: 100%;
  display: block;
  font-size: 14px;
  top: 17px;
  left: 18px;
  color: gray;
  position: absolute;
  transition: 0.5s;
  z-index: -1;
}
.login_form .form-container label.active{
  top: -9px;
  z-index: 1;
  width: fit-content;
  background: white;
  padding: 0px 12px;
}
.login_form .form-container input{
  width: 100%;
  z-index: 0;
  background-color: transparent;
  height: 55px;
  padding-left: 18px;
  border: none;
  margin-bottom: 20px;
  border: 1px solid rgb(226, 226, 226);
  outline: none;
}
.login_form .signin-button{
  border: none;
  outline: none;
  padding: 12px 20px;
  color: white;
  background: #6ea358;
  float: right;
  width: 50%;
}
.login_form .bottom_txt{
  margin-top: 25px;
  font-family: math;
}
.login_form .bottom_txt a{
  text-decoration: none;
}
.login_form  h4{
  font-family: math;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 50px;
  font-weight: bold;
}






.profile_edit_container{
  max-width: 400px;
  padding: 25px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile_edit_container .img-box{
  height: 97px;
  width: 100%;
  margin-bottom: 45px;
  position: relative;
}
.profile_edit_container .img-box .cover_img{
  max-height: 100%;
  object-fit: cover;
  width: 100%;
}
.profile_edit_container .img-box .dp{
  width: 75px;
  position: absolute;
  object-fit: cover;
  height: 75px;
  bottom: -25px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 0px);
}
.profile_edit_container .img-box .edit_btn{
  font-size: 17px;
  position: absolute;
  left: 52%;
  bottom: -22px;
  background: white;
  border-radius: 50%;
  padding: 8px 8px 8px 10px;
  border: 1px solid #d6d6d6;
}
.profile_edit_container .img-box #id_dp{
  position: absolute;
  width: 33px;
  height: 33px;
  position: absolute;
  left: 52%;
  bottom: -22px;
  margin-bottom: 0px;
  border-radius: 50%;
  opacity: 0;
}
.profile_edit_container .img-box .edit_cover{
  font-size: 17px;
  padding: 10px 10px 10px 12px;
  border-radius: 50%;
  right: 15px;
  top: 15px;
  position: absolute;
  background: white;
  border: 1px solid #e0e0e0;
}
.profile_edit_container .img-box #id_coverimage{
  width: 41px;
  padding: 10px 10px 10px 12px;
  border-radius: 50%;
  right: 15px;
  top: 15px;
  position: absolute;
  height: 41px;
  opacity: 0;
}
.profile_edit_container .details_section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.profile_edit_container .details_section .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.profile_edit_container .details_section .slider.active {
  opacity: 1;
  top: 0;
  z-index: 11;
  left: 0;
}
.profile_edit_container .details_section .add_btn{
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}


.profile_edit_container .input_div{
  position: relative;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.profile_edit_container label{
  width: 100%;
  display: block;
  font-size: 11px;
  top: 17px;
  left: 18px;
  color: gray;
  position: absolute;
  transition: 0.5s;
  z-index: -1;
}
.profile_edit_container label.active{
  top: -9px;
  z-index: 1;
  width: fit-content;
  background: white;
  padding: 0px 12px;
}
.profile_edit_container input{
  width: 100%;
  font-size: 14px;
  z-index: 0;
  background-color: transparent;
  height: 45px;
  padding-left: 18px;
  border: none;
  margin-bottom: 14px;
  border: 1px solid rgb(226, 226, 226);
  outline: none;
}
.profile_edit_container textarea{
  width: 100%;
  font-size: 14px;
  z-index: 0;
  background-color: transparent;
  height: 85px;
  padding: 14px;
  border: none;
  margin-bottom: 14px;
  position: relative;
  border: 1px solid rgb(226, 226, 226);
  outline: none;
}
.profile_edit_container .btn_submit{
  background: #676793;
  border: none;
  outline: none;
  padding: 10px 60px;
  color: white;
  border-radius: 25px;
  margin-top: 12px;
}





.modal-content{
  max-width: 375px;
  
  margin: 40% auto 0px;
}
.modal-content input{
  width: 100%;
  padding: 9px;
  border: 1px solid #c6b8b8;
  outline: none;
  margin-bottom: 10px;
}
.modal-footer{
  border-top: none !important;
}



.edit__btn, .edit__btns{
  position: absolute;
  cursor: pointer;
  right: 50px;
  top: 13px;
  font-size: 18px;
}
.trash__btn, .trash__btns{
  position: absolute;
  cursor: pointer;
  right: 16px;
  top: 13px;
  font-size: 18px;
}




.input_div input.error{
  border: 0.5px solid red;
  position: relative;
}
.input_div input.error::after{
  content: 'please fill this';

}


.social_parent_form{

}
.social_parent_form #social_media_ul{
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.social_parent_form #social_media_ul li{
  list-style: none;
  margin-right: 8px;
  margin-top: 8px;
}

.social_parent_form #social_media_ul .social_media_icon{
  font-size: 20px;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #0d6efd;
  color: #0d6efd;
}
.social_parent_form #social_media_ul .social_media_icon.active{
  background: #0d6efd;
  color: white;
}
.pre_icon{
  position: absolute;
  left: 12px;
  top: 10px;
  border-right: 1px solid gray;
  padding-right: 11px;
}


.profile_edit_container #social_icons .input_div input {
  padding-left: 52px;
}
.profile_edit_container #social_icons .input_div label {
  left : 45px;
  top: 14px;
}
.profile_edit_container #social_icons .input_div label.active {
  top: -9px;
}


.phone_number_parent, .email_id_parent{
  height: 45px;
  margin-bottom: 19px;
  position: relative;
  display: flex;
}
.phone_number_parent.form select , .email_id_parent.form select{
  border: 1px solid rgb(213, 213, 213);
  padding: 10px;
}
.phone_number_parent .submit_btn, .email_id_parent .submit_btn{
  position: absolute;
  right: 38px;
  cursor: pointer;
  font-size: 21px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone_number_parent .close_btn, .email_id_parent .close_btn{
  position: absolute;
  right: 10px;
  font-size: 21px;
  height: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.phone_number_parent .edit_number_btn, .email_id_parent .edit_email_btn{
  position: absolute;
  cursor: pointer;
  right: 50px;
  top: 13px;
  font-size: 18px;
}
.phone_number_parent .trash_number_btn, .email_id_parent .trash_email_btn{
  position: absolute;
  cursor: pointer;
  right: 16px;
  top: 13px;
  font-size: 18px;
}
.phone_number_parent .select_option_parent, .email_id_parent .select_option_parent{
  position: absolute;
  left: 0px;
  width: 30%;
  height: 100%;
}
.phone_number_parent .select_option_parent select, .email_id_parent .select_option_parent select{
  width: 100%;
  height: 100%;
  border: 1px solid #cbcbcb;
  padding: 6px;
  z-index: -1;
  position: relative;
  opacity: 0;
}
.phone_number_parent.active .select_option_parent select, .email_id_parent.active .select_option_parent select{
  z-index: 1;
  opacity: 1;
}
.phone_number_parent.active .phone_type_edit, .email_id_parent.active .email_type_edit{
  z-index: -1;
  opacity: 0;
}
.phone_number_parent.active .save_edit, .email_id_parent.active .save_edit{
  position: absolute;
  cursor: pointer;
  right: 50px;
  top: 13px;
  font-size: 18px;
}
.phone_number_parent.form, .email_id_parent.form{
  margin-top: 20px;
}
#all_mobile_numbers, #all_email_ids{
  margin-top: 20px;
}
#add_on_field_without_social_media input{
  padding-left: 55px;
}
#add_on_field_without_social_media .pre_icons{
  position: absolute;
  left: 4px;
  top: 12px;
  padding: 0px 10px;
  border-right: 1px solid gray;
}
































.card_section{
  width: 100%;
  height: auto;
  margin-top: 80px;
}
.card_section .card{
  padding: 50px;
  position: relative;
  background: rgb(224, 224, 224);
}
.card_section .card h4{
  font-size: 18px;
  margin-bottom: 5px;
}
.card_section .card .name{
  font-weight: bold;
}
.card_section .card .designation{
  font-size: 14px;
}

.card_section .card .img_section img{
  border-radius: 50%;
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.card_section .card .img_section .edit_btn{
  position: absolute;
  left: -8px;
  bottom: 0px;
  background: white;
  padding: 6px 7px;
  color: black;
  border-radius: 50%;
}
.card_section .card .img_section input{
  width: 32px;
  height: 29px;
  left: -9px;
  position: absolute;
  bottom: 0px;
  border-radius: 50%;
  opacity: 0;
  z-index: 111;
}
.card_section .card .img_section input{
  width: 20px;
}
.card_section .card .img_section{
  margin-right: 10px;
  position: relative;
}
.card_section .card .qr_code{
  width: 80px;
  position: absolute;
  right: 40px;
  top: 40px;
}
.card_section .card .contact{
  margin-top: 80px;
}
.form_section{
  margin-top: 50px;
}
.form_section input{
  width: 100%;
  height: 40px;
  border: 1px solid rgb(202, 202, 202);
  outline: none;
  padding: 10px;
  margin-top: 10px;
  display: block;
}
.form_section button{
  margin-top: 15px;
  background-color: rgb(88, 88, 157);
  color: white;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: none;
  outline: none;
}
#color-picker-bg,
#color-picker-text{
  width: 50px;
}