{% extends "users/base.html" %}
{% load static %}



{% block title %}
  <title>CARD | VCARD</title>
{% endblock title %}




{% block content %}
  <div class="card_section">
    <h3 class="head">Edit Profile</h3>

    <form action="">
        <h4 class="personal_head">Personal Information</h4>
        <div class="input_div">
            {{form.name.label_tag }}
            {{form.name}}    
        </div>
        <div class="input_div">
            {{form.company.label_tag }}
            {{form.company}}    
        </div>
        <div class="input_div">
            {{form.designation.label_tag }}
            {{form.designation}}    
        </div>

        <h4 class="contact_head">Contact Information</h4>
        <div id="all_emails">
            
        </div>

        <div id="add_email_div" class="d-none">
            <div class="input_div">
                <select name="" id="">
                    <option value="Work">Work</option>
                    <option value="Personal">Personal</option>
                    <option value="Home">Home</option>
                    <option value="Company">Company</option>
                </select>
                <input required type="email">
                <label for="">Email : </label>
                <i class="update fa-solid fa-check"></i>
                <i class="trash fa-solid fa-xmark"></i>
            </div>
        </div>

        <div id="email_add_btn" class="add_btn"><span>+</span> Add New Email</div>
        
        
        <div id="all_numbers">
            
        </div>

        <div id="add_number_div" class="d-none">
            <div class="input_div">
                <select name="" id="">
                    <option value="Work">Work</option>
                    <option value="Personal">Personal</option>
                    <option value="Home">Home</option>
                    <option value="Company">Company</option>
                </select>
                <input required type="text">
                <label for="">Number : </label>
                <i class="update fa-solid fa-check"></i>
                <i class="trash fa-solid fa-xmark"></i>
            </div>
        </div>

        <div id="number_add_btn" class="add_btn"><span>+</span> Add New Number</div>

    </form>


  </div>
{% endblock content %}