{% extends "users/base.html" %}
{% load static %}



{% block title %}
  <title>CARD | VCARD</title>
{% endblock title %}




{% block content %}
  <div class="card_section">
      
        <form class="slider" action="" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}

            
          <div class="slide active personal">
            <h3 class="head">Edit Profile</h3>
            <h4 class="personal_head">Personal Information</h4>
            <div class="input_div">
                <label for="">Profile Image</label>
                <input type="file" name="dp" accept="image/*" id="id_dp">
            </div>
            <div class="input_div">
                <label for="">Cover Image</label>
                <input type="file" name="coverimage" accept="image/*" id="id_coverimage">
            </div>
            <div class="input_div">
                {{form.name.label_tag }}
                {{form.name}}    
            </div>
            <div class="input_div">
                {{form.company.label_tag }}
                {{form.company}}    
            </div>
            <div class="input_div">
                {{form.designation.label_tag }}
                {{form.designation}}    
            </div>

            <h4 class="contact_head">Contact Information</h4>
            <div id="all_emails">
                
            </div>

            <div id="add_email_div" class="d-none">
                <div class="input_div">
                    <select name="" id="">
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="Home">Home</option>
                        <option value="Company">Company</option>
                    </select>
                    <input type="email">
                    <label for="">Email : </label>
                    <i class="update fa-solid fa-check"></i>
                    <i class="trash fa-solid fa-xmark"></i>
                </div>
            </div>

            <div id="email_add_btn" class="add_btn"><span>+</span> Add New Email</div>
            
            
            <div id="all_numbers">
                
            </div>

            <div id="add_number_div" class="d-none">
                <div class="input_div">
                    <select name="" id="">
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="Home">Home</option>
                        <option value="Company">Company</option>
                    </select>
                    <input type="text">
                    <label for="">Number : </label>
                    <i class="update fa-solid fa-check"></i>
                    <i class="trash fa-solid fa-xmark"></i>
                </div>
            </div>

            <div id="number_add_btn" class="add_btn"><span>+</span> Add New Number</div>


            <div class="input_div">
                {{form.website.label_tag }}
                {{form.website}}    
            </div>

            <div class="input_div">
                {{form.whatsapp.label_tag }}
                {{form.whatsapp}}    
            </div>
            <div class="input_div">
                {{form.address.label_tag }}
                {{form.address}}    
            </div>

            <div class="next">Next</div>
        </div>
          
        
        
        
        <div class="slide social_media">
            <h3 class="head">Edit Profile</h3>
            <h4 class="social_head">Social Media Links</h4>

            <div class="input_div">
                {{form.facebook.label_tag }}
                {{form.facebook}}    
                <div class="pre_icon">
                    <i class="fa-brands fa-facebook"></i>
                </div>
            </div>
            <div class="input_div">
                {{form.twitter.label_tag }}
                {{form.twitter}}    
                <div class="pre_icon">
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            <div class="input_div">
                {{form.linkedin.label_tag }}
                {{form.linkedin}}    
                <div class="pre_icon">
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
            <div class="input_div">
                {{form.instagram.label_tag }}
                {{form.instagram}}    
                <div class="pre_icon">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>


            <div id="add_on_field_social"></div>

            <div data-bs-toggle="modal" data-bs-target="#socail_media_modal" id="social_add_btn" class="add_btn"><span>+</span> Add New Field</div>



            <div class="pagination">
                <div class="next">Next</div>
                <div class="prev">Prev</div>
            </div>
        </div>

        
        <div class="slide ">
            <h3 class="head">Edit Profile</h3>
            <h4 class="details_head">Details Section</h4>
            <div class="input_div">
                {{form.location.label_tag }}
                {{form.location}}    
            </div>
            <div class="input_div">
                {{form.bio.label_tag }}
                {{form.bio}}    
            </div>
            <div class="input_div">
                {{form.vedio.label_tag }}
                {{form.vedio}}    
            </div>

            <div class="social_media" id="add_on_field_without_social_media"></div>

            <div data-bs-toggle="modal" data-bs-target="#socail_media_modal_without_icon" id="social_add_btn_without_icon" class="add_btn"><span>+</span> Add New Field</div>

            <div class="pagination">
                <div class="prev" style="right: 120px;">Prev</div>
                <button type="submit">Submit</button>
            </div>

        </div>
    </form>


  </div>


  <!-- Modal -->
  <div class="modal fade" id="socail_media_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add New Field</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body social">
                  <form id="add_custom_btn_social">
                      <div class="social_parent_form"></div>
                      <input required id="name" type="text" placeholder="Name">
                      <input required id="description" type="text" placeholder="Description">
                      <div class="modal-footer">
                        <button type="button" class="btn btn_close" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn_success" data-bs-dismiss="modal">Save changes</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="socail_media_modal_update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Field</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body social">
                  <form id="add_custom_btn_social_update">
                      <div class="social_parent_form"></div>
                      <input required id="name" type="text" placeholder="Name">
                      <input required id="description" type="text" placeholder="Description">
                      <div class="modal-footer">
                        <button type="button" class="btn btn_close" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn_success" data-bs-dismiss="modal">Save changes</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="socail_media_modal_without_icon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Field</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_custom_btn_social_without_icon">
                    <input required id="name" type="text" placeholder="Name">
                    <input required id="description" type="text" placeholder="Description">
                    <div class="modal-footer">
                      <button type="button" class="btn btn_close" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn_success" data-bs-dismiss="modal">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="socail_media_modal_update_without_icon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Field</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="update_extra_field_form_without_social">
                    <input required id="name" type="text" placeholder="Name">
                    <input required id="description" type="text" placeholder="Description">
                    <div class="modal-footer">
                      <button type="button" class="btn btn_close" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn_success" data-bs-dismiss="modal">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}