<div class="footer_box">
    <div class="row">
        <div class="col-4">
            <div class="box">
                <i class="active user fa-solid fa-user"></i>
            </div>
        </div>
        <div class="col-4">
            <div class="box">
                <i class="fa-solid fa-address-card"></i>
            </div>
        </div>
        <div class="col-4">
            <div class="box">
                <i class="fa-solid fa-qrcode"></i>
            </div>
        </div>
    </div>
</div>