{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- fontawesome  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- custom css    -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>



    <a href="{% url 'user-logout' %}"><button>Logout</button></a>


    <form action="" id="profile_edit_form" method="POST" enctype="multipart/form-data" class="profile_edit_container">
        {% csrf_token %}
        

        <div class="img-box">
            <img src="{{profile.coverimage.url}}" class="cover_img" id="cover_img" alt="">
            <img id="dp_img" class="dp" src="{{profile.dp.url}}" />

            <i class="edit_cover fa-regular fa-pen-to-square"></i>
            <input type="file" name="coverimage" accept="image/*" id="id_coverimage">

            <i class="edit_btn fa-regular fa-pen-to-square"></i>
            <input type="file" name="dp" accept="image/*" id="id_dp">
        </div>
        
        <div class="details_section">

            <div class="w-100 slider active">
                <h6 class="mb-4">Personal Information</h6>
                <div class="d-none">
                    {{form.color}}
                    {{form.bg}}
                    {{form.bg_gradient}}
                </div>
                <div class="input_div">
                    {{form.name.label_tag }}
                    {{form.name}}    
                </div>
                <div class="input_div">
                    {{form.company.label_tag }}
                    {{form.company}}    
                </div>
                <div class="input_div">
                    {{form.designation.label_tag }}
                    {{form.designation}}    
                </div>
                
                <h6 class="mb-3">Contact</h6>

                <span class="mb-5" id="add_email_btn">Add Email ID</span>

                <div class="email_id_parent form d-none">

                    <select name="" id="email_type_add" style="width: 30%;">
                        <option value="Work">Work</option>
                        <option value="Personal">Personal</option>
                        <option value="Home">Home</option>
                        <option value="Company">Company</option>
                    </select>

                    <input  style="width: 70%;" type="email" class="email_id">
                    <i class="submit_btn fa-solid fa-check"></i>
                    <i class="close_btn fa-solid fa-xmark"></i>
                </div>

                <div id="all_email_ids">
                    <!-- <div class="email_id_parent">
                        <input type="text" disabled style="width: 25%;" value="Personal">
                        <input style="width: 75%;" type="text" disabled value="adil@gmail.com">
                    </div> -->
                </div>


                <span class="mb-5" id="add_phone_btn">Add Phone Number</span>

                <div class="phone_number_parent form d-none">

                    <select id="phone_type_add" style="width: 30%;">
                        <option value="Work">Work</option>
                        <option value="Personal">Personal</option>
                        <option value="Home">Home</option>
                        <option value="Company">Company</option>
                    </select>

                    <input style="width: 70%;" type="text" class="phone_number">
                    <i class="submit_btn fa-solid fa-check"></i>
                    <i class="close_btn fa-solid fa-xmark"></i>
                </div>

                <div id="all_mobile_numbers">
                    <!-- <div class="phone_number_parent">
                        <input type="text" disabled style="width: 25%;" value="Personal">
                        <input style="width: 75%;" type="text" disabled value="7012042562">
                    </div> -->
                </div>

                <div class="input_div">
                    {{form.website.label_tag }}
                    {{form.website}}    
                </div>

                <div class="input_div">
                    {{form.whatsapp.label_tag }}
                    {{form.whatsapp}}    
                </div>
                <div class="input_div">
                    {{form.address.label_tag }}
                    {{form.address}}    
                </div>
                
                <span class="next">Next</span>
            </div>
            
            
            
            <div class="w-100 slider">
                <div id="social_icons">
                    <div class="input_div">
                        {{form.facebook.label_tag }}
                        {{form.facebook}}    
                        <div class="pre_icon">
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                    </div>
                    <div class="input_div">
                        {{form.twitter.label_tag }}
                        {{form.twitter}}    
                        <div class="pre_icon">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                    <div class="input_div">
                        {{form.linkedin.label_tag }}
                        {{form.linkedin}}    
                        <div class="pre_icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                    <div class="input_div">
                        {{form.instagram.label_tag }}
                        {{form.instagram}}    
                        <div class="pre_icon">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>

                    <div id="add_on_field">
                        
                    </div>
                </div>

                <span data-bs-toggle="modal" data-bs-target="#exampleModal" class="add_btn">Add Custom Field</span>
                <span class="previous">Previous</span>
                <span class="next">Next</span>
                <button class="btn_submit" type="submit">Submit</button>
            </div>
            
            
            <div class="w-100 slider">
                <div id="extrafield_without_social_media">
                    <div class="input_div">
                        {{form.location.label_tag }}
                        {{form.location}}    
                    </div>
                    <div class="input_div">
                        {{form.bio.label_tag }}
                        {{form.bio}}    
                    </div>
                    <div class="input_div">
                        {{form.vedio.label_tag }}
                        {{form.vedio}}    
                    </div>

                    <div id="add_on_field_without_social_media">
                        
                    </div>
                </div>

                <span data-bs-toggle="modal" data-bs-target="#exampleModalThree" class="add_btn">Add Custom Field</span>
                <span class="previous">Previous</span>
                <button class="btn_submit" type="submit">Submit</button>
            </div>
                        
        </div>
        
    </form>
    



    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body social">
                    <form id="add_custom_btn">
                        <div class="social_parent_form"></div>
                        <input required id="name" type="text" placeholder="Name">
                        <input required id="description" type="text" placeholder="Description">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="exampleModalTwo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body social">
                    <form id="update_extra_field_form">
                        <div class="social_parent_form"></div>
                        <input required id="name" type="text" placeholder="Name">
                        <input required id="description" type="text" placeholder="Description">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="modal fade" id="exampleModalThree" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add_custom_btn_without_social">
                        <!-- <div class="social_parent_form"></div> -->
                        <input required id="name" type="text" placeholder="Name">
                        <input required id="description" type="text" placeholder="Description">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    


    <div class="modal fade" id="exampleModalFour" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="update_extra_field_form_without_social">
                        <!-- <div class="social_parent_form"></div> -->
                        <input required id="name" type="text" placeholder="Name">
                        <input required id="description" type="text" placeholder="Description">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <script>
        function EmailId(){
            const baseUrl = 'http://127.0.0.1:8000';
            const parent_div = document.getElementById('all_email_ids')


            document.getElementById('add_email_btn').addEventListener('click', function(){
                document.querySelector('.email_id_parent.form').classList.remove('d-none')
            })
        
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                    }
                }
                return cookieValue;
            }





            function getAccessToken() {
                return fetch(`${baseUrl}/user/get/google/token/`)
                    .then(response => response.json())
                    .then(data => {
                        if(data.status == 0){    
                            return data.access_token
                        }else{
                            return fetch('http://127.0.0.1:8000/user/get/token/')
                            .then(response => response.json())
                            .then(data => {
                                return data.token
                            })
                        }
                });
            }

                

            function getallemail(access_token) {
                fetch(`${baseUrl}/user/email-id/`, {
                    headers: {
                    'Authorization': `Token ${access_token}`
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        insertEmail(data);
                        console.log(data)

                    document.querySelectorAll('.edit_email_btn').forEach((item) => item.addEventListener('click', function(){
                        const id = item.getAttribute('value')
                        const email_id = data.find(email => email.id == id)
                        console.log(email_id)
                        if (email_id) {
                        getAccessToken()
                            .then(access_token => getEmailbyId(access_token, email_id));
                        } else {
                        console.log(`Email id with id ${id} not found`)
                        }
                    }));
                    
                    document.querySelectorAll('.trash_email_btn').forEach((item) => item.addEventListener('click', function(){
                        const id = item.getAttribute('value')
                        const email_id = data.find(email => email.id == id)
                        console.log(email_id)
                        if (email_id) {
                        getAccessToken()
                            .then(access_token => deleteEmailById(access_token, email_id.id));
                        } else {
                        console.log(`Email Id with id ${id} not found`)
                        }
                    }));


                    })
                    .catch(error => console.error(error));
            }

            getAccessToken()
                .then(access_token => getallemail(access_token));







            function insertEmail(data) {

                parent_div.innerHTML=""

                for (let i = 0; i < data.length; i++) {

                    const div = document.createElement('div');
                    div.classList.add('email_id_parent');
                    div.setAttribute('id', `email_${data[i].id}`)
        
                    const email_type = document.createElement('input');
                    email_type.classList.add('email_type_edit')
                    email_type.setAttribute('value', data[i].email_type)
                    email_type.setAttribute('type', 'text')
                    email_type.setAttribute('disabled', '')
                    email_type.style.width = '30%'


                    const select_option = document.createElement('div')
                    select_option.classList.add('select_option_parent')
                    select_option.innerHTML = `                    
                                        <select name="" id="email_type_edit">
                                            <option value="Work">Work</option>
                                            <option value="Personal">Personal</option>
                                            <option value="Home">Home</option>
                                            <option value="Company">Company</option>
                                        </select>`



                    const email_id = document.createElement('input');
                    email_id.classList.add('email_id_edit')
                    email_id.setAttribute('value', data[i].email_id)
                    email_id.setAttribute('type', 'email')
                    email_id.setAttribute('required', '')
                    email_id.setAttribute('disabled', '')
                    email_id.style.width = '70%'


                    const edit_icon = document.createElement('i');
                    edit_icon.classList.add('fa-regular')
                    edit_icon.classList.add('fa-pen-to-square')
                    edit_icon.classList.add('edit_email_btn')
                    edit_icon.setAttribute('value', data[i].id)

                    const trash_icon = document.createElement('i');
                    trash_icon.classList.add('fa-solid')
                    trash_icon.classList.add('fa-trash')
                    trash_icon.classList.add('trash_email_btn')
                    trash_icon.setAttribute('value', data[i].id)

                    
                    div.appendChild(email_type);
                    div.appendChild(email_id);
                    div.appendChild(edit_icon);
                    div.appendChild(trash_icon);
                    div.appendChild(select_option);

                    parent_div.appendChild(div);
                }
            }






            function createEmail(access_token, data) {
                return fetch(`${baseUrl}/user/email-id/`, {
                    method: 'POST',
                    headers: {
                        'Authorization': `Token ${access_token}`,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Failed to Email field.');
                        }
                    })
                    .then(data => {
                        console.log(data); // Do something with the newly created extra field data
                        getallemail(access_token);
                        document.querySelector('.email_id_parent.form').classList.add('d-none')
                        document.querySelector('.email_id_parent.form').querySelector('input').value = ""
                        
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }


            const form = document.querySelector('.email_id_parent')
            form.querySelector('.submit_btn').addEventListener('click', function(){
                console.log('clicked')
                
                if (! form.querySelector('.email_id').checkValidity()) {
                    form.querySelector('.email_id').reportValidity()
                }

                const data = {
                    email_type: form.querySelector('select').value,
                    email_id: form.querySelector('input').value
                };
                
                getAccessToken()
                    .then(access_token => {
                    createEmail(access_token, data);
                });
            })
            

            form.querySelector('.close_btn').addEventListener('click', function(){
                document.querySelector('.email_id_parent.form').classList.add('d-none')
            })
            

            


            
        function getEmailbyId(access_token, email_id) {


            let id = email_id.id
            let input_parent = document.getElementById(`email_${id}`)


            input_parent.querySelector('.edit_email_btn').classList.add('d-none')

            const save_btn = document.createElement('i')
            save_btn.classList.add('fa-solid')
            save_btn.classList.add('fa-check')
            save_btn.classList.add('save_edit')

            
            input_parent.appendChild(save_btn)

            save_btn.addEventListener('click', function(){


                if (! input_parent.querySelector('.email_id_edit').checkValidity()) {
                    input_parent.querySelector('.email_id_edit').reportValidity()
                }


                const data = {
                    email_type : input_parent.querySelector('#email_type_edit').value,
                    email_id : input_parent.querySelector('.email_id_edit').value
                }

                getAccessToken()
                .then(access_token => updateEmail(access_token, id, data));
            })



            input_parent.classList.add('active')
            input_parent.querySelectorAll('input').forEach((input)=>{
                input.removeAttribute('disabled')
            })

            let select_div = document.querySelector('#email_type_edit')
            select_div.value = email_id.email_type       
        
        }






        function updateEmail(access_token, id, data) {
            return fetch(`${baseUrl}/user/email-id/${id}/`, {
                method: 'PUT',
                headers: {
                    'Authorization': `Token ${access_token}`,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to update Email field.');
                    }
                })
                .then(data => {
                    console.log(data); // Do something with the updated extra field data
                    return getallemail(access_token);
                })
                .catch(error => {
                    console.error(error);
                });
        }




        



        function deleteEmailById(access_token, id) {
            fetch(`${baseUrl}/user/email-id/${id}/`, {
                method: 'DELETE',
                headers: {
                    'Authorization': `Token ${access_token}`,
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                return getallemail(access_token);
            })
            .catch(error => console.error(error));
        }


        }





        EmailId()
    </script>











    <script>
        function PhoneNumber(){
            const baseUrl = 'http://127.0.0.1:8000';
            const parent_div = document.getElementById('all_mobile_numbers')


            document.getElementById('add_phone_btn').addEventListener('click', function(){
                document.querySelector('.phone_number_parent.form').classList.remove('d-none')
            })
        
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                    }
                }
                return cookieValue;
            }





            function getAccessToken() {
                return fetch(`${baseUrl}/user/get/google/token/`)
                    .then(response => response.json())
                    .then(data => {
                        if(data.status == 0){    
                            return data.access_token     
                        }else{
                            console.log('get access token')
                            return fetch('http://127.0.0.1:8000/user/get/token/')
                            .then(response => response.json())
                            .then(data => {
                                return data.token
                                console.log(data.token)
                            })
                        }
                });
            }

                

            function getallphone(access_token) {
                console.log('access_token')
                console.log(access_token)
                fetch(`${baseUrl}/user/phone-number/`, {
                    headers: {
                    'Authorization': `Token ${access_token}`
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        insertNumber(data);
                        console.log(data)

                    document.querySelectorAll('.edit_number_btn').forEach((item) => item.addEventListener('click', function(){
                        const id = item.getAttribute('value')
                        const phone_number = data.find(number => number.id == id)
                        console.log(phone_number)
                        if (phone_number) {
                        getAccessToken()
                            .then(access_token => getPhonebyId(access_token, phone_number));
                        } else {
                        console.log(`Phone NUmber with id ${id} not found`)
                        }
                    }));
                    
                    document.querySelectorAll('.trash_number_btn').forEach((item) => item.addEventListener('click', function(){
                        const id = item.getAttribute('value')
                        const phone_number = data.find(number => number.id == id)
                        console.log(phone_number)
                        if (phone_number) {
                        getAccessToken()
                            .then(access_token => deletePhoneById(access_token, phone_number.id));
                        } else {
                        console.log(`Phone Number with id ${id} not found`)
                        }
                    }));


                    })
                    .catch(error => console.error(error));
            }

            getAccessToken()
                .then(access_token => getallphone(access_token));







            function insertNumber(data) {

                parent_div.innerHTML=""

                for (let i = 0; i < data.length; i++) {

                    const div = document.createElement('div');
                    div.classList.add('phone_number_parent');
                    div.setAttribute('id', `number_${data[i].id}`)
        
                    const phone_type = document.createElement('input');
                    phone_type.classList.add('phone_type_edit')
                    phone_type.setAttribute('value', data[i].phone_type)
                    phone_type.setAttribute('type', 'text')
                    phone_type.setAttribute('disabled', '')
                    phone_type.style.width = '30%'


                    const select_option = document.createElement('div')
                    select_option.classList.add('select_option_parent')
                    select_option.innerHTML = `                    
                                        <select name="" id="phone_type_edit">
                                            <option value="Work">Work</option>
                                            <option value="Personal">Personal</option>
                                            <option value="Home">Home</option>
                                            <option value="Company">Company</option>
                                        </select>`



                    const phone_number = document.createElement('input');
                    phone_number.classList.add('phone_number_edit')
                    phone_number.setAttribute('value', data[i].phone_number)
                    phone_number.setAttribute('type', 'text')
                    phone_number.setAttribute('disabled', '')
                    phone_number.setAttribute('required', '')
                    phone_number.style.width = '70%'


                    const edit_icon = document.createElement('i');
                    edit_icon.classList.add('fa-regular')
                    edit_icon.classList.add('fa-pen-to-square')
                    edit_icon.classList.add('edit_number_btn')
                    edit_icon.setAttribute('value', data[i].id)

                    const trash_icon = document.createElement('i');
                    trash_icon.classList.add('fa-solid')
                    trash_icon.classList.add('fa-trash')
                    trash_icon.classList.add('trash_number_btn')
                    trash_icon.setAttribute('value', data[i].id)

                    
                    div.appendChild(phone_type);
                    div.appendChild(phone_number);
                    div.appendChild(edit_icon);
                    div.appendChild(trash_icon);
                    div.appendChild(select_option);

                    parent_div.appendChild(div);
                }
            }






            function createPhone(access_token, data) {
                return fetch(`${baseUrl}/user/phone-number/`, {
                    method: 'POST',
                    headers: {
                        'Authorization': `Token ${access_token}`,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Failed to create extra field.');
                        }
                    })
                    .then(data => {
                        console.log(data); // Do something with the newly created extra field data
                        getallphone(access_token);
                        document.querySelector('.phone_number_parent.form').classList.add('d-none')
                        document.querySelector('.phone_number_parent.form').querySelector('input').value = ""
                        
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }


            const form = document.querySelector('.phone_number_parent')
            form.querySelector('.submit_btn').addEventListener('click', function(){
                console.log('clicked')
                
                if (! form.querySelector('.phone_number').checkValidity()) {
                    form.querySelector('.phone_number').reportValidity()
                }

                const data = {
                    phone_type: form.querySelector('select').value,
                    phone_number: form.querySelector('input').value
                };
                
                getAccessToken()
                    .then(access_token => {
                    createPhone(access_token, data);
                });
            })
            

            form.querySelector('.close_btn').addEventListener('click', function(){
                document.querySelector('.phone_number_parent.form').classList.add('d-none')
            })
            

            


            
        function getPhonebyId(access_token, phone_number) {


            let id = phone_number.id
            let input_parent = document.getElementById(`number_${id}`)


            input_parent.querySelector('.edit_number_btn').classList.add('d-none')

            const save_btn = document.createElement('i')
            save_btn.classList.add('fa-solid')
            save_btn.classList.add('fa-check')
            save_btn.classList.add('save_edit')

            
            input_parent.appendChild(save_btn)

            save_btn.addEventListener('click', function(){

                if (! input_parent.querySelector('.phone_number_edit').checkValidity()) {
                    input_parent.querySelector('.phone_number_edit').reportValidity()
                }


                const data = {
                    phone_type : input_parent.querySelector('#phone_type_edit').value,
                    phone_number : input_parent.querySelector('.phone_number_edit').value
                }

                getAccessToken()
                .then(access_token => updatePhone(access_token, id, data));
            })



            input_parent.classList.add('active')
            input_parent.querySelectorAll('input').forEach((input)=>{
                input.removeAttribute('disabled')
            })

            let select_div = document.querySelector('#phone_type_edit')
            select_div.value = phone_number.phone_type       
        
        }






        function updatePhone(access_token, id, data) {
            return fetch(`${baseUrl}/user/phone-number/${id}/`, {
                method: 'PUT',
                headers: {
                    'Authorization': `Token ${access_token}`,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to update extra field.');
                    }
                })
                .then(data => {
                    console.log(data); // Do something with the updated extra field data
                    return getallphone(access_token);
                })
                .catch(error => {
                    console.error(error);
                });
        }




        



        function deletePhoneById(access_token, id) {
            fetch(`${baseUrl}/user/phone-number/${id}/`, {
                method: 'DELETE',
                headers: {
                    'Authorization': `Token ${access_token}`,
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                return getallphone(access_token);
            })
            .catch(error => console.error(error));
        }


        }





        PhoneNumber()
    </script>
    



    <script>
       
       function withSocial(){

        const baseUrl = 'http://127.0.0.1:8000';
        const form = document.getElementById('add_custom_btn');
        const parent_div = document.getElementById('add_on_field');
    


    function insertIcon(data){
        let modal_body = document.querySelectorAll('.modal-body.social form')
        
        modal_body.forEach((item)=>{


            let listHtml = '<ul id="social_media_ul">';

            data.forEach(icon => {
                listHtml += `<li class="social_media_icon" id="${icon.id}">${icon.icon_html}</li>`;
            });

            listHtml += '</ul>';

            let div = item.querySelector('.social_parent_form')
            div.innerHTML = listHtml

        })

        document.querySelectorAll('.social_media_icon').forEach((item) => {

        item.addEventListener('click', function() {
        // remove the 'active' class from all the icons
        document.querySelectorAll('.social_media_icon').forEach((element) => {
            element.classList.remove('active');
        });

        // check if the current icon was the last clicked icon
        const itemId = item.id;
        const lastItemId = localStorage.getItem('IconID');

        if (itemId === lastItemId) {
            // the user has clicked on this icon before
            localStorage.removeItem('IconID'); // remove the ID from local storage
        } else {
            // the user has clicked on a new icon
            localStorage.setItem('IconID', itemId); // set the new ID in local storage
            item.classList.add('active'); // add the 'active' class to the clicked icon
        }
        });
        });
    }


        
    function getAllIcons(access_token) {
        console.log('asdfa')
         fetch(`${baseUrl}/user/icons/`, {
             headers: {
             'Authorization': `Token ${access_token}`
             }
            })
             .then(response => response.json())
             .then(data => {
                insertIcon(data)
            })
            .catch(error => console.error(error));
        }

    getAccessToken()
         .then(access_token => getAllIcons(access_token));



  
  














        
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}





        function getAccessToken() {


        return fetch(`${baseUrl}/user/get/google/token/`)
            .then(response => response.json())
            .then(data => {
                if(data.status == 0){    
                    return data.access_token     
                }else{
                    
                    return fetch('http://127.0.0.1:8000/user/get/token/')
                    .then(response => response.json())
                    .then(data => {
                        return data.token
                    })
                }
            });

        }

    
        function createExtraField(access_token, data) {
            return fetch(`${baseUrl}/user/extrafields/`, {
                method: 'POST',
                headers: {
                    'Authorization': `Token ${access_token}`,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to create extra field.');
                    }
                })
                .then(data => {
                    console.log(data); // Do something with the newly created extra field data
                    getallextra(access_token);
                })
                .catch(error => {
                    console.error(error);
                });
        }
    
        function insertData(data) {

            parent_div.innerHTML=""
            for (let i = 0; i < data.length; i++) {

                const div = document.createElement('div');
                div.classList.add('input_div');
    
                const label = document.createElement('label');
                label.textContent = data[i].name;

                const edit_icon = document.createElement('i');
                edit_icon.classList.add('fa-regular')
                edit_icon.classList.add('fa-pen-to-square')
                edit_icon.classList.add('edit__btn')
                edit_icon.setAttribute('data-bs-toggle', 'modal')
                edit_icon.setAttribute('data-bs-target', '#exampleModalTwo')
                edit_icon.setAttribute('value', data[i].id)

                const trash_icon = document.createElement('i');
                trash_icon.classList.add('fa-solid')
                trash_icon.classList.add('fa-trash')
                trash_icon.classList.add('trash__btn')
                trash_icon.setAttribute('value', data[i].id)

                const input = document.createElement('input');
                input.type = 'text';
                input.value = data[i].description;
                input.setAttribute('disabled', '')


                const icon_div = document.createElement('div')
                icon_div.classList.add('pre_icon')

                function getIcon(access_token) {
                    fetch(`${baseUrl}/user/icons/`, {
                        headers: {
                        'Authorization': `Token ${access_token}`
                        }
                    })
                    .then(response => response.json())
                    .then(file=> {
                        const icon = file.find(item => item.id === data[i].icon);
                        // do something with the icon
                        icon_div.innerHTML = icon.icon_html
                    })
                    .catch(error => console.error(error));
                }


                getAccessToken()
                .then(access_token => {
                getIcon(access_token);
                });

                
                div.appendChild(label);
                div.appendChild(input);
                div.appendChild(edit_icon);
                div.appendChild(trash_icon);
                div.appendChild(icon_div);

                
                parent_div.appendChild(div);
    
                if (input.value !== '') {
                    label.classList.add('active');
                }
            }
        }


        form.addEventListener('submit', event => {
            event.preventDefault();

            const data = {
                name: form.querySelector('#name').value,
                description: form.querySelector('#description').value,
                is_social: true
            };

            // check if IconID is stored in local storage
            const iconId = localStorage.getItem('IconID');
            if (iconId) {
                data.icon = iconId; // add iconId as an extra field to the data object
            }

            getAccessToken()
                .then(access_token => {
                createExtraField(access_token, data);
                });

            form.querySelector('#name').value = "";
            form.querySelector('#description').value = "";
        
        });

    







        function getExtrabyId(access_token, extraField) {
            
                let form = document.getElementById('update_extra_field_form');
                form.querySelector('#name').value = extraField.name;
                form.querySelector('#description').value = extraField.description;

                console.log('asdf')
                document.querySelectorAll('.social_media_icon').forEach((item)=>{
                    item.classList.remove('active')
                    if(item.id == extraField.icon){
                        item.classList.add('active')
                        localStorage.setItem('IconID', item.id); // set the new ID in local storage

                    }
                })


                
        }










        function getallextra(access_token) {
            fetch(`${baseUrl}/user/extrafields/`, {
                headers: {
                'Authorization': `Token ${access_token}`
                }
            })
                .then(response => response.json())
                .then(data => {
                    const filteredData = data.filter(extra => extra.is_social === true);
                    insertData(data);
                    console.log(filteredData)

                document.querySelectorAll('.edit__btn').forEach((item) => item.addEventListener('click', function(){
                    const id = item.getAttribute('value')
                    localStorage.setItem('id', id)
                    const extraField = data.find(extra => extra.id == id)
                    console.log(extraField)
                    if (extraField) {
                    getAccessToken()
                        .then(access_token => getExtrabyId(access_token, extraField));
                    } else {
                    console.log(`Extra field with id ${id} not found`)
                    }
                }));
                
                document.querySelectorAll('.trash__btn').forEach((item) => item.addEventListener('click', function(){
                    const id = item.getAttribute('value')
                    localStorage.setItem('id', id)
                    const extraField = data.find(extra => extra.id == id)
                    console.log(extraField)
                    if (extraField) {
                    getAccessToken()
                        .then(access_token => deleteExtraById(access_token, extraField.id));
                    } else {
                    console.log(`Extra field with id ${id} not found`)
                    }
                }));


                })
                .catch(error => console.error(error));
        }

        getAccessToken()
            .then(access_token => getallextra(access_token));









        const updateForm = document.getElementById('update_extra_field_form');
        function updateExtraField(access_token, id, data) {
            return fetch(`${baseUrl}/user/extrafields/${id}/`, {
                method: 'PUT',
                headers: {
                    'Authorization': `Token ${access_token}`,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to update extra field.');
                    }
                })
                .then(data => {
                    console.log(data); // Do something with the updated extra field data
                    return getallextra(access_token);
                })
                .catch(error => {
                    console.error(error);
                });
        }

        updateForm.addEventListener('submit', event => {
            event.preventDefault();

            const id = localStorage.getItem('id')
            const data = {
                name: updateForm.querySelector('#name').value,
                description: updateForm.querySelector('#description').value,
                is_social: true
            };

            // check if IconID is stored in local storage
            const iconId = localStorage.getItem('IconID');
            if (iconId) {
                data.icon = iconId; // add iconId as an extra field to the data object
            }

            getAccessToken()
                .then(access_token => updateExtraField(access_token, id, data));
        });








        function deleteExtraById(access_token, id) {
            fetch(`${baseUrl}/user/extrafields/${id}/`, {
                method: 'DELETE',
                headers: {
                    'Authorization': `Token ${access_token}`,
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                return getallextra(access_token);
            })
            .catch(error => console.error(error));
        }

       }

       withSocial()

    </script>

    





<script>
       
    function withoutSocial(){

     const baseUrl = 'http://127.0.0.1:8000';
     const form = document.getElementById('add_custom_btn_without_social');
     const parent_div = document.getElementById('add_on_field_without_social_media');







     function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}




function getAccessToken() {


        return fetch(`${baseUrl}/user/get/google/token/`)
             .then(response => response.json())
             .then(data => {
                 if(data.status == 0){    
                    return data.access_token     
                }else{
                    
                    return fetch('http://127.0.0.1:8000/user/get/token/')
                    .then(response => response.json())
                    .then(data => {
                        return data.token
                    })
                }
             });

}



    
     function createExtraField(access_token, data) {
        console.log(access_token)
         return fetch(`${baseUrl}/user/extrafields/`, {
             method: 'POST',
             headers: {
                 'Authorization': `Token ${access_token}`,
                 'Content-Type': 'application/json'
             },
             body: JSON.stringify(data)
         })
             .then(response => {
                 if (response.ok) {
                     return response.json();
                 } else {
                     throw new Error('Failed to create extra field.');
                 }
             })
             .then(data => {
                 console.log(data); // Do something with the newly created extra field data
                 getallextra(access_token);
             })
             .catch(error => {
                 console.error(error);
             });
     }
 
     function insertData(data) {

         parent_div.innerHTML=""
         for (let i = 0; i < data.length; i++) {



             const div = document.createElement('div');
             div.classList.add('input_div');
 
             const label = document.createElement('label');
             label.textContent = data[i].name;


             const edit_icon = document.createElement('i');
             edit_icon.classList.add('fa-regular')
             edit_icon.classList.add('fa-pen-to-square')
             edit_icon.classList.add('edit__btns')
             edit_icon.setAttribute('data-bs-toggle', 'modal')
             edit_icon.setAttribute('data-bs-target', '#exampleModalFour')
             edit_icon.setAttribute('value', data[i].id)


             const trash_icon = document.createElement('i');
             trash_icon.classList.add('fa-solid')
             trash_icon.classList.add('fa-trash')
             trash_icon.classList.add('trash__btns')
             trash_icon.setAttribute('value', data[i].id)


             
             const input = document.createElement('input');
             input.type = 'text';
             input.value = data[i].description;
             input.setAttribute('disabled', '')


             const pre_icons = document.createElement('div')
             pre_icons.classList.add('pre_icons')


             function getIcon(access_token) {
                    fetch(`${baseUrl}/user/icons/`, {
                        headers: {
                        'Authorization': `Token ${access_token}`
                        }
                    })
                    .then(response => response.json())
                    .then(file=> {
                        const icon = file.find(item => item.id === data[i].icon);
                        // do something with the icon
                        pre_icons.innerHTML = icon.icon_html
                    })
                    .catch(error => console.error(error));
            }


            getAccessToken()
                .then(access_token => {
                getIcon(access_token);
            });



 
             div.appendChild(label);
             div.appendChild(input);
             div.appendChild(edit_icon);
             div.appendChild(trash_icon);
             div.appendChild(pre_icons);
 
             parent_div.appendChild(div);
 
             if (input.value !== '') {
                 label.classList.add('active');
             }
         }
     }




     
     form.addEventListener('submit', event => {
         event.preventDefault();
 
         const data = {
             name: form.querySelector('#name').value,
             description: form.querySelector('#description').value,
             is_social: false,
             icon: 12
         };
 
         getAccessToken()
             .then(access_token => {
                console.log(access_token)
                createExtraField(access_token, data)
            });

         form.querySelector('#name').value = ""
         form.querySelector('#description').value = ""
     });
 






     function getExtrabyId(access_token, extraField) {
         
             let form = document.getElementById('update_extra_field_form_without_social');
             form.querySelector('#name').value = extraField.name;
             form.querySelector('#description').value = extraField.description;

     }










     function getallextra(access_token) {
         fetch(`${baseUrl}/user/extrafields/`, {
             headers: {
             'Authorization': `Token ${access_token}`
             }
         })
             .then(response => response.json())
             .then(data => {
                const filteredData = data.filter(extra => extra.is_social === false);
                insertData(filteredData);


             document.querySelectorAll('.edit__btns').forEach((item) => item.addEventListener('click', function(){
                 const id = item.getAttribute('value')
                 localStorage.setItem('id', id)
                 const extraField = data.find(extra => extra.id == id)
                 console.log(extraField)
                 if (extraField) {
                 getAccessToken()
                     .then(access_token => getExtrabyId(access_token, extraField));
                 } else {
                 console.log(`Extra field with id ${id} not found`)
                 }
             }));
             
             document.querySelectorAll('.trash__btns').forEach((item) => item.addEventListener('click', function(){
                 const id = item.getAttribute('value')
                 localStorage.setItem('id', id)
                 const extraField = data.find(extra => extra.id == id)
                 console.log(extraField)
                 if (extraField) {
                 getAccessToken()
                     .then(access_token => deleteExtraById(access_token, extraField.id));
                 } else {
                 console.log(`Extra field with id ${id} not found`)
                 }
             }));


             })
             .catch(error => console.error(error));
     }

     getAccessToken()
         .then(access_token => getallextra(access_token));









     const updateForm = document.getElementById('update_extra_field_form_without_social');
     function updateExtraField(access_token, id, data) {
         return fetch(`${baseUrl}/user/extrafields/${id}/`, {
             method: 'PUT',
             headers: {
                 'Authorization': `Token ${access_token}`,
                 'Content-Type': 'application/json'
             },
             body: JSON.stringify(data)
         })
             .then(response => {
                 if (response.ok) {
                     return response.json();
                 } else {
                     throw new Error('Failed to update extra field.');
                 }
             })
             .then(data => {
                 console.log(data); // Do something with the updated extra field data
                 return getallextra(access_token);
             })
             .catch(error => {
                 console.error(error);
             });
     }

     updateForm.addEventListener('submit', event => {
         event.preventDefault();

         const id = localStorage.getItem('id')
         const data = {
             name: updateForm.querySelector('#name').value,
             description: updateForm.querySelector('#description').value,
             is_social: false
         };

         getAccessToken()
             .then(access_token => updateExtraField(access_token, id, data));
     });








     function deleteExtraById(access_token, id) {
         fetch(`${baseUrl}/user/extrafields/${id}/`, {
             method: 'DELETE',
             headers: {
                 'Authorization': `Token ${access_token}`,
                 'Content-Type': 'application/json'
             }
         })
         .then(response => {
             return getallextra(access_token);
         })
         .catch(error => console.error(error));
     }

    }

    withoutSocial()

 </script>


    

  <!-- custom js  -->
  <script src="{% static 'js/script.js' %}"></script>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>

</html>