{% extends "users/base.html" %}
{% load static %}


{% block title %}
  <title>PROFILE | VCARD</title>
{% endblock title %}




{% block content %}
<div class="d-none" id="template">{{profile.template}}</div>
<div class="current_template">
    <!-- <h3 class="heading">Current Template Design</h3> -->
    {% for x in templates %}
    <div class="d-none inner_box h-100" id="{{ x }}" >
        {% include x %}
    </div>            
    {% endfor %}
    <a href="{% url 'change-template' %}"><button class="change_template_btn">Change Template</button></a>
</div>



<!-- <a href="{% static 'qr/'|add:user.username|add:'.jpeg' %}" download=""><button class="download_btn">Download QR Code</button></a> -->

{% endblock content %}