
{% extends "users/base.html" %}

{% block title %}
  <title>SIGNUP | VCARD</title>
{% endblock title %}


{% block content %}
    <div class="register_section">
        <h1 class="head">Welcome to Mentegoz</h1>
        <p class="description">Register to Sign In</p>


        <form method="POST" action="{% url 'user-signup' %}">
            {% csrf_token %}


            {% for field in form %}
            <div class="input_div">
                {{field}}
                <label>{{field.label}}</label>
            </div>
            {% endfor %}

            <button type="submit" class="submit_btn rounded-pill">Sign Up</button>
            <p class="signup_txt">Already have an account ? <a href="{% url 'user-login' %}">Login</a></p>

        </form>
        
    </div>

{% endblock content %}