<!DOCTYPE html>
{% load static %}    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- fontawesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom css    -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>

</head>    
<body>
    
<form action="" id="card_edit" method="POST" enctype="multipart/form-data">
    
    {% csrf_token %}


    <div class="card_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="d-flex align-items-center">
                            <div class="img_section">
                                <img src="{{profile.dp.url}}" id="dp_img" alt="" class="img-fluid">
                                
                                <!-- <i class="edit_btn fa-regular fa-pen-to-square"></i> -->
                            </div>
                            <div class="txt_section">
                                <h4 class="full_name" id="full_name">{{profile.name}}</h4>
                                <h4 class="designation" id="designation">{{profile.designation}}</h4>
                            </div>
                        </div>
                        <div class="contact d-flex">
                            <p class="mb-0 me-3 phone" id="phone">+91 7510393197</p>
                            <p class="ms-3 mb-0 email" id="email">shabab@gmail.com</p>
                        </div>
                        <img src="{% static 'qr/'|add:user.username|add:'.jpeg' %}" alt="" class="qr_code">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="d-flex align-items-center">
                            <!-- <div class="img_section">
                                <img src="{{profile.dp.url}}" id="dp_img" alt="" class="img-fluid">
                                <input type="file" name="dp" accept="image/*" id="id_dp">
                                <i class="edit_btn fa-regular fa-pen-to-square"></i>
                            </div> -->
                            <div class="txt_section">
                                <h4 class="full_name" id="full_name">{{profile.name}}</h4>
                                <h4 class="designation" id="designation">{{profile.designation}}</h4>
                            </div>
                        </div>
                        <div class="contact d-flex">
                            <p class="mb-0 me-3 phone" id="phone">+91 7510393197</p>
                            <p class="ms-3 mb-0 email" id="email">shabab@gmail.com</p>
                        </div>
                        <img src="{% static 'qr/'|add:user.username|add:'.jpeg' %}" alt="" class="qr_code">
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="form_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{form.name}}
                    {{form.designation}}
                    {{form.bg}}
                    {{form.color}}
                    <input name="phone_number" type="text" id="phone_input" placeholder="Enter Your Number" value="">
                    <input name="email_id" type="text" id="email_input" placeholder="Enter Your Email" value="">
                    {{form.bg_gradient}}
                    <div class="input_color_parent">
                        <label for="">Background Color</label>
                        <input type="color" id="color-picker-bg">
                        <label for="" class="ms-5">Text Color</label>
                        <input type="color" id="color-picker-text">
                    </div>
                    <input type="file" name="dp" accept="image/*" id="id_dp">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>




</form>



<script>
let gradientInput = document.getElementById('id_bg_gradient')
gradientInput.setAttribute('placeholder', 'Gradient Background')

let backgroundInput = document.getElementById('id_bg')
let colorInput = document.getElementById('id_color')
const colorPickerBg = document.getElementById('color-picker-bg');
const colorPickerTxt = document.getElementById('color-picker-text');

backgroundInput.classList.add('d-none')
colorInput.classList.add('d-none')


document.querySelectorAll('.card').forEach((item)=> item.style.backgroundColor = backgroundInput.value)
document.querySelectorAll('.card').forEach((item)=> item.style.color = colorInput.value)

if(gradientInput.value != ""){
    document.querySelectorAll('.card').forEach((item)=> item.setAttribute('style', gradientInput.value))
}

colorPickerBg.addEventListener('input', () => {
  const card = document.querySelectorAll('.card');
  const color = colorPickerBg.value;
  backgroundInput.value = color
  card.forEach((item)=> item.style.backgroundColor = color);
});

colorPickerTxt.addEventListener('input', () => {
  const card = document.querySelectorAll('.card');
  const color = colorPickerTxt.value;
  colorInput.value = color
  card.forEach((item)=> item.style.color = color);
});

gradientInput.addEventListener('input', function(){
    document.querySelectorAll('.card').forEach((item)=> item.setAttribute('style', gradientInput.value))
})




var dp_image = document.getElementById('dp_img')
var dp_input = document.getElementById('id_dp')

dp_input.addEventListener('change', function(){
    var file = dp_input.files[0];
    var reader = new FileReader();
    reader.onloadend = function() {
        dp_image.src = reader.result;
    }
    if (file) {
        reader.readAsDataURL(file);
    }
})





const baseUrl = 'http://127.0.0.1:8000'
function getAccessToken() {
    return fetch(`${baseUrl}/user/get/google/token/`)
        .then(response => response.json())
        .then(data => {
            if(data.status == 0){    
                return data.access_token     
            }else{
                console.log('get access token')
                return fetch('http://127.0.0.1:8000/user/get/token/')
                .then(response => response.json())
                .then(data => {
                    return data.token
                    console.log(data.token)
                })
            }
    });
}



function getFirstEmail(access_token) {
    fetch(`${baseUrl}/user/email-id/`, {
        headers: {
        'Authorization': `Token ${access_token}`
        }
    })
    .then(response => response.json())
    .then(data => {
        document.querySelectorAll('.card_section .email').forEach((item)=>item.innerText = data[0].email_id)
        document.querySelector('.form_section #email_input').value = data[0].email_id
        console.log(data)
    })
    .catch(error => console.error(error));
}

getAccessToken()
    .then(access_token => getFirstEmail(access_token));


function getFirstNumber(access_token) {
    fetch(`${baseUrl}/user/phone-number/`, {
        headers: {
        'Authorization': `Token ${access_token}`
        }
    })
    .then(response => response.json())
    .then(data => {
        document.querySelectorAll('.card_section .phone').forEach((item)=>item.innerText = data[0].phone_number)
        document.querySelector('.form_section #phone_input').value = data[0].phone_number
        console.log(data)
    })
    .catch(error => console.error(error));
}

getAccessToken()
    .then(access_token => getFirstNumber(access_token));




    function changeInputValue(input_id, className){
        let innervalue = document.querySelector(`#${input_id}`).value
        document.querySelectorAll(`.${className}`).forEach((item)=> item.innerText = innervalue)        
    }

    
    document.querySelector('.form_section #id_name').addEventListener('input', function() {
        changeInputValue('id_name', 'full_name');
    });
    document.querySelector('.form_section #id_designation').addEventListener('input', function() {
        changeInputValue('id_designation', 'designation');
    });
    document.querySelector('.form_section #phone_input').addEventListener('input', function() {
        changeInputValue('phone_input', 'phone');
    });
    document.querySelector('.form_section #email_input').addEventListener('input', function() {
        changeInputValue('email_input', 'email');
    });
</script>










 <!-- Bootstrap JavaScript Libraries -->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>

